{% extends 'Home/base.html' %}
{% load static %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Tableau de Bord Administrateur</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-one w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon"><i class="fas fa-user-graduate"></i></div>
                            <div class="db-info">
                                <h3>{{ total_students }}</h3>
                                <h6>Étudiants</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-two w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon"><i class="fas fa-chalkboard-teacher"></i></div>
                            <div class="db-info">
                                <h3>{{ total_teachers }}</h3>
                                <h6>Enseignants</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-three w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon"><i class="fas fa-book"></i></div>
                            <div class="db-info">
                                <h3>{{ total_subjects }}</h3>
                                <h6>Matières</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-four w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon"><i class="fas fa-file-invoice"></i></div>
                            <div class="db-info">
                                <h3>{{ total_exams }}</h3>
                                <h6>Examens</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h4 class="card-title">Derniers Étudiants</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Classe</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in recent_students %}
                                    <tr>
                                        <td>{{ student.first_name }} {{ student.last_name }}</td>
                                        <td>{{ student.student_class }}</td>
                                        <td class="text-right">
                                            <a href="{% url 'student_list' %}" class="btn btn-sm btn-white">Voir</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header">
                        <h4 class="card-title">Examens Planifiés</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center">
                                <thead>
                                    <tr>
                                        <th>Matière</th>
                                        <th>Date</th>
                                        <th>Statut</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for exam in upcoming_exams %}
                                    <tr>
                                        <td>{{ exam.subject.name }}</td>
                                        <td>{{ exam.exam_date|date:"d M" }}</td>
                                        <td><span class="badge badge-info">{{ exam.status }}</span></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer><p>Copyright © 2026 Preskool Admin.</p></footer>
</div>
{% endblock %}