{% extends 'Home/base.html' %}
{% load static %}
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Events</h3>
                </div>
                {% if user.is_admin or user.is_teacher %}
                <div class="col-auto">
                    <a href="{% url 'add_event' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        {% if user.is_admin or user.is_teacher %}
                                        <th class="text-right">Action</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for event in events %}
                                    <tr>
                                        <td>{{ event.title }}</td>
                                        <td>{{ event.category }}</td>
                                        <td>{{ event.start_date|date:"d M Y H:i" }}</td>
                                        <td>{{ event.end_date|date:"d M Y H:i" }}</td>
                                        {% if user.is_admin or user.is_teacher %}
                                        <td class="text-right">
                                            <a href="{% url 'edit_event' event.id %}" class="btn btn-sm bg-success-light"><i class="fas fa-pen"></i></a>
                                            <a href="{% url 'delete_event' event.id %}" class="btn btn-sm bg-danger-light" onclick="return confirm('Supprimer ?')"><i class="fas fa-trash"></i></a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
      <p>Copyright © 2020 Dreamguys.</p>
    </footer>
</div>


<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}