{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Edit Teacher</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'teacher_list' %}">Teachers</a></li>
                  <li class="breadcrumb-item active">Edit Teacher</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <form method="POST" enctype="multipart/form-data">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-12">
                           <h5 class="form-title"><span>Personal Information</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>First Name</label>
                              <input type="text" class="form-control" name="first_name" value="{{ teacher.first_name }}" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Last Name</label>
                              <input type="text" class="form-control" name="last_name" value="{{ teacher.last_name }}" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Teacher ID</label>
                              <input type="text" class="form-control" name="teacher_id" value="{{ teacher.teacher_id }}" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Gender</label>
                              <select class="form-control" name="gender" required>
                                 <option value="Male" {% if teacher.gender == 'Male' %}selected{% endif %}>Male</option>
                                 <option value="Female" {% if teacher.gender == 'Female' %}selected{% endif %}>Female</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Date of Birth</label>
                              <input type="date" class="form-control" name="date_of_birth" value="{{ teacher.date_of_birth|date:'Y-m-d' }}" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Joining Date</label>
                              <input type="date" class="form-control" name="joining_date" value="{{ teacher.joining_date|date:'Y-m-d' }}" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Mobile Number</label>
                              <input type="text" class="form-control" name="mobile_number" value="{{ teacher.mobile_number }}" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Email</label>
                              <input type="email" class="form-control" name="email" value="{{ teacher.email }}" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Teacher Image</label>
                              <input type="file" class="form-control" name="teacher_image">
                              {% if teacher.teacher_image %}
                              <small class="text-muted">Image actuelle :
                                 <a href="{{ teacher.teacher_image.url }}" target="_blank">voir</a>
                              </small>
                              {% endif %}
                           </div>
                        </div>

                        <div class="col-12">
                           <h5 class="form-title"><span>Professional Information</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Subject</label>
                              <input type="text" class="form-control" name="subject" value="{{ teacher.subject }}" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Department</label>
                              <input type="text" class="form-control" name="department" value="{{ teacher.department }}" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Qualification</label>
                              <input type="text" class="form-control" name="qualification" value="{{ teacher.qualification }}" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Experience (years)</label>
                              <input type="number" class="form-control" name="experience_years" value="{{ teacher.experience_years }}" min="0" required>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Status</label>
                              <select class="form-control" name="status" required>
                                 <option value="Active" {% if teacher.status == 'Active' %}selected{% endif %}>Active</option>
                                 <option value="Inactive" {% if teacher.status == 'Inactive' %}selected{% endif %}>Inactive</option>
                              </select>
                           </div>
                        </div>

                        <div class="col-12">
                           <h5 class="form-title"><span>Address</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Present Address</label>
                              <textarea class="form-control" name="present_address" required>{{ teacher.present_address }}</textarea>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Permanent Address</label>
                              <textarea class="form-control" name="permanent_address" required>{{ teacher.permanent_address }}</textarea>
                           </div>
                        </div>

                        <div class="col-12">
                           <button type="submit" class="btn btn-primary">Save Changes</button>
                           <a href="{% url 'teacher_list' %}" class="btn btn-secondary ml-2">Cancel</a>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}