{% extends 'Home/base.html' %}
{% load static %}
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Subject</label>
                                <select name="subject" class="form-control" required>
                                    {% for s in subjects %}<option value="{{s.id}}">{{s.name}}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Teacher</label>
                                <select name="teacher" class="form-control" required>
                                    {% for t in teachers %}<option value="{{t.id}}">{{t.first_name}} {{t.last_name}}</option>{% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Day</label>
                                <select name="day" class="form-control">
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Time Slot</label>
                                <select name="time_slot" class="form-control">
                                    <option value="08:00">08:00 - 10:00</option>
                                    <option value="10:00">10:00 - 12:00</option>
                                    <option value="14:00">14:00 - 16:00</option>
                                    <option value="16:00">16:00 - 18:00</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6"><div class="form-group"><label>Room</label><input type="text" name="room" class="form-control" required></div></div>
                        <div class="col-12 col-sm-6"><div class="form-group"><label>Section</label><input type="text" name="section" class="form-control" required></div></div>
                        <div class="col-12"><button type="submit" class="btn btn-primary">Save Schedule</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}