{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Edit Subject</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'List' %}">Subjects</a></li>
                  <li class="breadcrumb-item active">Edit Subject</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                  <form method="POST">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-12">
                           <h5 class="form-title"><span>Subject Information</span></h5>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Subject ID</label>
                              <input type="text" class="form-control" name="subject_id" value="{{ subject.subject_id }}" required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Subject Name</label>
                              <input type="text" class="form-control" name="name" value="{{ subject.name }}" required>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Department</label>
                              <select class="form-control" name="department" required>
                                 <option value="">-- Select Department --</option>
                                 {% for department in departments %}
                                    <option value="{{ department.id }}"
                                       {% if department.id == subject.department.id %}selected{% endif %}>
                                       {{ department.name }}
                                    </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Teacher</label>
                              <select class="form-control" name="teacher">
                                 <option value="">-- No Teacher --</option>
                                 {% for teacher in teachers %}
                                    <option value="{{ teacher.id }}"
                                       {% if subject.teacher and teacher.id == subject.teacher.id %}selected{% endif %}>
                                       {{ teacher.first_name }} {{ teacher.last_name }}
                                    </option>
                                 {% endfor %}
                              </select>
                           </div>
                        </div>

                        <div class="col-12">
                           <div class="form-group">
                              <label>Description</label>
                              <textarea class="form-control" name="description" rows="3">{{ subject.description }}</textarea>
                           </div>
                        </div>

                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label>Status</label>
                              <select class="form-control" name="status" required>
                                 <option value="Active" {% if subject.status == 'Active' %}selected{% endif %}>Active</option>
                                 <option value="Inactive" {% if subject.status == 'Inactive' %}selected{% endif %}>Inactive</option>
                              </select>
                           </div>
                        </div>

                        <div class="col-12">
                           <button type="submit" class="btn btn-primary">Save Changes</button>
                           <a href="{% url 'List' %}" class="btn btn-secondary ml-2">Cancel</a>
                        </div>

                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}