{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Reset Password</title>
   <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
<div class="main-wrapper login-body">
<div class="login-wrapper">
<div class="container">
<div class="loginbox">
   <div class="login-left">
      <img class="img-fluid" src="{% static 'assets/img/logo.png' %}" alt="Logo">
   </div>
   <div class="login-right">
      <div class="login-right-wrap">
         <h1>Set New Password</h1>
         <p class="account-subtitle">Enter your new password below</p>
         {% if validlink %}
         <form method="POST">
            {% csrf_token %}
            <div class="form-group">
               <label>New Password</label>
               <input type="password" name="new_password1"
                      class="form-control" placeholder="New password" required>
            </div>
            <div class="form-group">
               <label>Confirm New Password</label>
               <input type="password" name="new_password2"
                      class="form-control" placeholder="Confirm password" required>
            </div>
            {% if form.errors %}
            <div class="alert alert-danger">
               {% for field in form %}
                  {% for error in field.errors %}
                     <p>{{ error }}</p>
                  {% endfor %}
               {% endfor %}
            </div>
            {% endif %}
            <div class="form-group mb-0">
               <button class="btn btn-primary btn-block" type="submit">
                  Reset Password
               </button>
            </div>
         </form>
         {% else %}
         <div class="alert alert-danger">
            This link is invalid or has expired.
            <a href="{% url 'password_reset' %}">Request a new one</a>
         </div>
         {% endif %}
      </div>
   </div>
</div>
</div>
</div>
</div>
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>