{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Email Sent</title>
   <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
<div class="main-wrapper login-body">
<div class="login-wrapper">
<div class="container">
<div class="loginbox">
   <div class="login-left">
      <img class="img-fluid" src="{% static 'assets/img/logo.png' %}" alt="Logo">
   </div>
   <div class="login-right">
      <div class="login-right-wrap text-center">
         <i class="fas fa-envelope fa-4x text-success mb-4"></i>
         <h1>Check your terminal !</h1>
         <p class="account-subtitle">
            The reset link has been printed in your terminal.
            Copy it and paste it in your browser.
         </p>
         <a href="{% url 'login' %}" class="btn btn-primary mt-3">
            <i class="fas fa-arrow-left"></i> Back to Login
         </a>
      </div>
   </div>
</div>
</div>
</div>
</div>
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>